.registered_customer {
  background: #ffffff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  width: 100%;
}

.registered_customer_page {
  padding-top: 35px;
}

.registered_customer_page h1 {
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  text-align: center;
}
.registered_customer_page p {
  font-size: 14px;
  line-height: 17px;
  color: #081f32;
  text-align: center;
  padding-top: 10px;
}

.login_form {
  margin: 30px 40px 10px 40px;
}

.login_form label {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.login_form input {
  width: 100%;
}

.login_form input[type="text"],
input[type="password"] {
  border: none;
  outline: none;
  border-bottom: 1px solid #333333;
  background: transparent;
  font-size: 16px;
  color: #000;
  padding: 10px 0px;
}

.forget_password {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #219653;
  margin: 0px 40px;
  text-decoration: none;
  cursor: pointer;
}

.btn {
  margin: 20px 40px;
}
.btn button {
  width: 100%;
  background: #219653;
  border-radius: 5px;
  border: none;
  outline: line;
  padding: 4px 0px;
}
.btn button:hover {
  background-color: #137c41;
}

.btn span {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}
.bottom {
  margin: 0px 40px;
  padding-bottom: 30px;
}
.bottom p {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #bdbdbd;
  text-align: center;
}
.bottom a {
  text-decoration: none;
  cursor: pointer;
  color: #137c41;
}

/* Create customer */

.createAccount {
  margin: 50px 40px;
}
.createAccount_title h1 {
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  text-align: center;
}
.createAccount_title p {
  font-size: 14px;
  line-height: 17px;
  color: #081f32;
  text-align: center;
  margin-top: 10px;
}
.createAccount_name {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.createAccount_input1 {
  display: flex;
  flex: 50%;
  flex-direction: column;
}
.createAccount_input2 {
  display: flex;
  flex: 50%;
  flex-direction: column;
  margin-left: 50px;
}
.createAccount_details {
  margin-top: 30px;
}
.createAccount_checkCondition {
  font-size: 13px;
  line-height: 17px;
  color: #383838;
  padding-left: 30px;
}
.createAccount_terms {
  color: #137c41;
}

.createAccount_details p {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #bdbdbd;
  text-align: center;
}
.createAccount_details a {
  text-decoration: none;
  color: #219653;
}

/* Responsive part */

@media (max-width: 460px) {
  /* create account */

  .createAccount_name {
    display: flex;
    flex-direction: column;
  }
  .createAccount_input2 {
    margin-left: 0px;
    margin-top: 30px;
  }
  .registerData {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .registered_customer_page h1 {
    text-align: left;
  }
  .registered_customer_page p {
    text-align: left;
  }
  .registered_customer_page {
    margin: 0px 40px;
  }
}
